.contact_wrapper svg {
    font-size: 1em;
    vertical-align: middle;
    margin-right: 5px;
  }
  .whatsapp-button {
    background: linear-gradient(45deg, #7B61FF, #6A00F4); // Matches purple wave theme
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 8px;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(122, 61, 255, 0.3); // Soft glow effect
  
    &:hover {
      background: linear-gradient(45deg, #6A00F4, #7B61FF);
      box-shadow: 0px 6px 15px rgba(122, 61, 255, 0.5);
      transform: scale(1.05);
    }
  
    &:active {
      transform: scale(0.98);
    }
  }
  .contact-form {
    padding-top: 20px;
  
    button {
      float: right;
      background-color: white;
      color: #050f0b;
    }
  
    button:hover {
      background-color: #5000ca;
      color: white;
    }
  
    fieldset {
      background-color: white;
    }
  }
  
  label {
    font-size: 1.2rem;
    font-family: 'DomaineDispNar-Medium', sans-serif;
  }
  
  .form-flex {
    display: flex;
    gap: 15px;
    padding-bottom: 15px;
  }
  
  .form-flex .MuiFormControl-root {
    width: 100%;
  }
  
  form {
    width: 100% !important;
  }
  
  .body-form {
    width: 100% !important;
    margin-bottom: 15px !important;
  }